header {
    background-color: #ffffff;
    color: white;
    margin: 0 auto;
    max-width: 50em;
    padding: 1em;

}
.footer {
    background-color: #ffffff;
    color: white;
    margin: 0.5em;
    max-width: 50em;
    padding: 1em;
}
h1 {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0.75em;
    color: #010101;
    background: #d0e7ff;
    border-bottom: solid 4px #516ab6;
    text-align: center;
}
b {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0.5em;
}
h2 {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0.5em;
    color: #010101;
    background: #eaf3ff;
    border-bottom: solid 3px #516ab6;
}

.container {
    margin: 0 auto;
    max-width: 50em;
    padding: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 0.5em;
    margin: 0.5em;
    background: #f9f9f9;
    border: 1px solid #ddd;
}
#animate {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
}
p {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0.3em;
    color: #010101;
}
